/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 996px) {
    .heroBanner {
      display: flex;
      flex-direction: column;
    }
  
  .headerborder {
    margin-right: 7vw;
    margin-left: 7vw;
    box-shadow: 0 0 50px black;
  }

  .signingradientborder {
    margin: auto;
  }

  .gradientborder {
    margin: auto;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin content {
  padding: 60px 0;
  font-size: 1.3rem;
  justify-content: center;
  line-height: 40px;
}

.contentlogin {
  @include content;
  background-color: var(--ifm-color-emphasis-100);
}

.contentsignup {
  @include content;
}

.contentforget {
  @include content;
  background-color: var(--ifm-color-emphasis-100);
}

.headerborder {
  transform: scale(0.85);
  height: 620px;
  margin-right: 7vw;
  box-shadow: 0 0 50px black;
}

.gradientborder {
  margin: auto;
  transform: scale(0.85);
  height: 620px;
  box-shadow: 0 0 50px grey;
}

/*Due to the height of sign iframe, a new style is created here*/
.signingradientborder {
  transform: scale(0.85);
  height: 680px;
  box-shadow: 0 0 50px grey;
}