.gradientborder {
  margin: 0 auto;
  transform: scale(0.85);
  width: 600px;
  box-shadow: 0 0 50px grey;
  border-radius: 20px;
}

.signingradientborder {
  margin: 0 auto;
  transform: scale(0.85);
  width: 600px;
  box-shadow: 0 0 50px grey;
  border-radius: 20px;
}
